.footer{
    background-color: #000000;
    color: #ffffff;
}
.fontbest{
    font-size: 30px !important;
    color: #3b5998;
}
.fontbest1{
    font-size: 30px !important;
    color: #4875B4;
}
.fontbest2{
    font-size: 30px !important;
    color: #c63d2d;
}
.fontbest3{
    font-size: 30px !important;
    color: #1baab1;
}
.fontbest4{
    font-size: 30px !important;
    color: #ffffff;
}